.user-info {
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 7px;
  top: 7px;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #eeeded;
  border-radius: 7px;
  opacity: 0.5;
  cursor: pointer;

  @media (max-width: 575px) {
    width: 70px;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  &__name {
    display: block;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    @media (max-width: 575px) {
      display: none;
    }
  }
}
