.list {
  &__item {
    height: 40px;
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 35px 10px 12px;
    margin-bottom: 5px;
    cursor: pointer;

    &:first-letter {
      text-transform: uppercase;
    }

    &:last-of-type {
      margin-bottom: 20px;
    }

    &:hover,
    &:focus-within {
      background-color: rgba(255, 255, 255, 0.8);

      .list__close {
        z-index: 1;
      }
    }

    &_active {
      background-color: #ffffff;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      cursor: default;

      .list__close {
        z-index: 1;
      }
    }
  }

  &__icon {
    flex: 0 0 auto;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 15px;
    margin-bottom: 2px;
    opacity: 1;
  }

  &__label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__close {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    opacity: 0.2;
    cursor: pointer;
    z-index: -1;

    &:hover,
    &:focus {
      opacity: 1.2;
    }
  }
}
