.button {
  width: 100%;
  height: 38px;
  line-height: 1;
  border-radius: 4px;
  border-color: transparent;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s linear;

  &_type {
    &_confirm {
      background-color: #4dd599;
      color: #fff;

      &:focus,
      &:hover {
        background-color: darken(#4dd599, 10%);
      }

      &:active {
        background-color: darken(#4dd599, 20%);
      }
    }

    &_cancel {
      background-color: #ffc4c4;
      color: #ffffff;

      &:focus,
      &:hover {
        background-color: darken(#ffc4c4, 10%);
      }

      &:active {
        background-color: darken(#ffc4c4, 20%);
      }
    }
  }

  &:disabled {
    background-color: #919191;
    cursor: not-allowed;
  }
}
