.popup {
  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
  }

  &__input {
    height: 35px;
    background: #ffffff;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    padding: 7px 10px;
    transition: border-color 0.3s linear;
    font-size: 14px;
    font-weight: 500;

    &:hover,
    &:focus {
      border-color: darken(#cbcbcb, 40%);
      box-shadow: none;
    }
  }

  &__button {
    margin: 0 10px;
    font-weight: 500;
    text-transform: uppercase;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s linear;

    &_type_confirm {
      background-color: #4dd599;
      color: #fff;

      &:focus,
      &:hover {
        background-color: darken(#4dd599, 10%);
      }

      &:active {
        background-color: darken(#4dd599, 20%);
      }
    }

    &_type_deny {
      background-color: #df6363;
      color: #ffffff;

      &:focus,
      &:hover {
        background-color: darken(#df6363, 10%);
      }

      &:active {
        background-color: darken(#df6363, 20%);
      }
    }
  }
}
