.popup {
  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 7px;

    @media (max-width: 900px) {
      font-size: 1.4rem;
    }
  }

  &__block-colors {
    width: 100%;
    height: 150px;
    padding: 15px 20px 10px 20px;

    .react-colorful {
      width: 100%;
      height: 100%;
    }
  }

  &__input {
    height: 35px;
    background: #ffffff;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    padding: 7px 10px;
    transition: border-color 0.3s linear;
    font-size: 1rem;
    font-weight: 500;

    &:hover,
    &:focus {
      border-color: darken(#cbcbcb, 40%);
      box-shadow: none;
    }
  }

  &__button {
    margin: 0 10px;
    font-weight: 500;
    font-size: 1rem;
    height: 40px;
    line-height: 1;
    padding: 0 20px;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s linear;

    &_type_confirm {
      background-color: #4dd599;
      color: #fff;

      &:focus,
      &:hover {
        background-color: darken(#4dd599, 10%);
      }

      &:active {
        background-color: darken(#4dd599, 20%);
      }
    }

    &_type_deny {
      background-color: #df6363;
      color: #ffffff;

      &:focus,
      &:hover {
        background-color: darken(#df6363, 10%);
      }

      &:active {
        background-color: darken(#df6363, 20%);
      }
    }
  }

  .swal2-html-container {
    margin: 0;
  }

  .swal2-footer {
    word-break: break-all;
  }
}
