@import '../src/assets/styles/mixins.scss';

* {
  @include scrollbars($size: 7px, $foreground-color: #8b8b8b, $background-color: #c5c4c3);
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: transparent;
  border: 0;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  @media (max-width: 900px) {
    padding: 0;
    display: block;
  }
}
