.container-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  @media (max-width: 900px) {
    padding: 0;
    display: block;
  }
}

.todo {
  position: relative;
  min-width: 320px;
  min-height: 90vh;
  max-height: 700px;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 5px 15px #b1b0b0;
  display: flex;

  @media (max-width: 900px) {
    min-height: 100vh;
  }

  &__sidebar {
    background-color: #f4f6f8;
    width: 285px;
    padding: 70px 20px;
    border-right: 1px solid #f1f1f1;
    border-radius: 10px 0px 0px 10px;
    overflow-y: auto;
    transition: width 0.2s linear;

    @media (max-width: 900px) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      min-width: auto;
      width: 75px;
      flex: 0 0 auto;

      .list__item {
        background-color: rgba(255, 255, 255, 0.8);
        &_active {
          border-width: 1px;
          border-style: solid;
          border-color: var(--color-border);
        }
      }

      .list__close {
        opacity: 1;
      }
    }

    @media (max-width: 575px) {
      width: 45px;
    }

    &_close {
      padding: 70px 0;

      .list__item,
      .add-btn {
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 5px;

        @media (max-width: 575px) {
          width: 30px;
          height: 30px;
          margin: 10px auto;
        }
      }

      .add-btn {
        display: block;
        margin: 0;
        margin: 0 auto;
      }

      .list__icon {
        margin: 0;
        left: 0;
      }

      .list__label,
      .add-btn__text {
        display: none;
      }

      .list__close {
        display: none;
      }
    }

    &_open {
      width: 320px;

      @media (max-width: 375px) {
        width: 100%;
      }

      .todo__sidebar-menu {
        right: 15px;
        transform: translateX(0) rotate(180deg);
      }

      .list__close {
        display: block;
      }
    }
  }

  &__sidebar-title {
    font-size: 1.14rem;
    font-weight: 500;
    margin: 0px 0px 20px 15px;

    @media (max-width: 900px) {
      display: none;
    }
  }

  &__sidebar-menu {
    display: none;
    transition: transform 0.3s linear, right 0.3s linear;
    cursor: pointer;

    @media (max-width: 900px) {
      display: block;
      position: absolute;
      top: 20px;
      right: 50%;
      transform: translateX(50%);
    }
  }

  &__tasks {
    padding: 50px 25px 45px 35px;
    width: 600px;
    overflow-y: auto;

    @media (max-width: 900px) {
      width: 100%;
      padding: 50px 15px 45px 90px;
    }

    @media (max-width: 575px) {
      padding: 50px 10px 30px 55px;
    }
  }

  &__tasks-title {
    color: #c9d1d3;
    font-size: 1.8rem;
    font-weight: 500;

    @media (max-width: 575px) {
      font-size: 1.6rem;
    }
  }

  &__user {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 7px;
    top: 7px;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: #eeeded;
    border-radius: 7px;
    opacity: 0.5;
    cursor: pointer;

    @media (max-width: 575px) {
      width: 70px;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  &__user-name {
    display: block;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    @media (max-width: 575px) {
      display: none;
    }
  }
}

.spinner-block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
