.container-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  @media (max-width: 900px) {
    padding: 0;
    display: block;
  }
}

.main-block {
  position: relative;
  min-width: 320px;
  min-height: 90vh;
  max-height: 700px;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 5px 15px #b1b0b0;
  display: flex;

  @media (max-width: 900px) {
    min-height: 100vh;
    max-height: none;
  }
}
